@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.Btn {
  text-decoration: none;
  text-align: center;
}

header {
  margin: 3rem auto;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.navbar .Top-Btn {
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 20px;
  padding: 7px 30px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.HeroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HeroContent .HeadTitle {
  text-align: center;
  margin-top: 6rem;
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  color: #00252e;
}

.HeroContent .HeadParagraph {
  text-align: center;
  padding: 1.5rem 14rem;
  margin: 0 7rem;
  color: #00252e;
}

.HeroContent .Btn-Primary {
  color: #f5faff;
  background: #ff52bf;
  border: none;
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: 600;
  margin-bottom: 5rem;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.HeroImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HeroImage img {
  width: 70%;
  margin-bottom: 3rem;
}

.communities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.communities div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 6rem;
}

.communities .community, .communities .messages {
  text-align: center;
}

.communities .community img, .communities .messages img {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 28px;
  margin-right: 8rem;
}

.communities .community h1, .communities .messages h1 {
  font-size: 58px;
  font-weight: 700;
  color: #00252e;
}

.communities .community p, .communities .messages p {
  color: gray;
}

.svg-top {
  margin-bottom: -1rem;
}

.svg img {
  width: 100%;
}

.Grow-Together {
  background-color: #F6FBFF;
  height: 400px;
}

.grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.grow div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grow .GrowContent {
  text-align: left;
}

.grow .GrowContent h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00252e;
  margin-bottom: 1rem;
  font-size: 30px;
}

.grow .GrowContent p {
  font-size: 14px;
  padding-right: 8rem;
  color: #00252e;
}

.grow .GrowImage img {
  width: 70%;
}

.flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7rem 0;
}

.flow div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flow .FlowContent {
  text-align: left;
  margin-left: 6rem;
}

.flow .FlowContent h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00252e;
  margin-bottom: 1rem;
  font-size: 30px;
}

.flow .FlowContent p {
  font-size: 14px;
  padding-right: 4rem;
  color: #00252e;
}

.flow .FlowImage {
  padding-right: 2rem;
}

.flow .FlowImage img {
  width: 100%;
}

.svg-top {
  margin-bottom: -1rem;
}

.svg img {
  width: 100%;
}

.Your-Users {
  background-color: #F6FBFF;
  height: 400px;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.users div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.users .UsersContent {
  text-align: left;
}

.users .UsersContent h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00252e;
  margin-bottom: 1rem;
  font-size: 30px;
}

.users .UsersContent p {
  font-size: 14px;
  color: #00252e;
  padding-right: 5rem;
}

.users .UsersImage {
  padding-left: 2rem;
}

.users .UsersImage img {
  width: 100%;
}

.Bottom-CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.Bottom-CTA .HeadTitle {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: #00252e;
}

.Bottom-CTA .Btn-Primary {
  color: #f5faff;
  background: #ff52bf;
  border: none;
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: 600;
  margin-bottom: 5rem;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.svg-footer {
  margin-bottom: -.5rem;
}

.svg img {
  width: 100%;
}

.Contact-NewsLetter {
  background-color: #00252e;
  padding-top: 6rem;
  color: #ffffff;
}

.Contact-NewsLetter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Contact-NewsLetter .container .contact {
  margin-right: 14rem;
}

.Contact-NewsLetter .container .contact .logo {
  margin-bottom: 1.5rem;
}

.Contact-NewsLetter .container .contact p {
  width: 330px;
  margin-bottom: 1.8rem;
}

.Contact-NewsLetter .container .contact .phone, .Contact-NewsLetter .container .contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Contact-NewsLetter .container .contact .phone img, .Contact-NewsLetter .container .contact .email img {
  width: 20px;
  height: 17px;
  margin-right: 1rem;
}

.Contact-NewsLetter .container .contact .social {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.Contact-NewsLetter .container .contact .social a {
  color: #fff;
  margin-right: 1rem;
}

.Contact-NewsLetter .container .NewsLetter h2 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.Contact-NewsLetter .container .NewsLetter p {
  width: 370px;
  margin-bottom: 1.8rem;
}

.Contact-NewsLetter .container .NewsLetter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contact-NewsLetter .container .NewsLetter .form input {
  display: inline;
  padding: 15px 70px;
  border-radius: 5px;
  border: none;
  margin-right: 2rem;
}

.Contact-NewsLetter .container .NewsLetter .form button {
  color: #f5faff;
  background: #ff52bf;
  border: none;
  padding: 15px 35px;
  border-radius: 5px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */